*{
    padding: 0;
    margin: 0; 
    border: 0;
    font-size: 100%;
}
.container{
    width: 100%;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: black;
    align-items: center;
}
header img{
    padding: 20px;
}
.menu{
    padding-right: 32px;
}
.menu a{
    padding: 13px;
    color: white;
    font-size: 14px;
}
.menu a:hover{
    text-decoration: underline;
}
.thanhDieuHuong{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    text-align: center;
    width: 90%;
    margin-left: 5%;
}
.form{
    display: flex;
    border: 1px solid black;
    border-radius: 30px;
    padding: 2px;
    height: 30px;
    margin-top: 12px;
}
.form input{
    width: 150px;
}
a{
    text-decoration: none;
    color: black;
}
.form a{
    padding: 2px;
}
.timKiem{
    display: flex;
}
.menu2{
    text-align: center;
}
.menu2 a{
    padding: 30px;
    font-size: 24px;
    font-weight: 700;
}
.menu2 a:hover{
    opacity: 50%;
    color: gray;
}
.cart{
    padding: 16px;
    padding-right: 0px;
}
.banner img{
    width: 90%;
    text-align: center;
    padding-left: 5%;
    z-index: 1;
}
.back{
    color: white;
    top: -300px;
    padding-left: 5%;
}
.next{
    color: white;
    top: -323px;
    padding-left: 93%;
    height: 65px;   
}
#slider{
    height: 600px;
}
.hangmoive{
    background-image: linear-gradient(to bottom, rgb(175, 175, 175) 1%, rgb(222, 222, 222), rgb(255, 255, 255));
    width: 90%;
    margin-left: 5%;
    margin-top: 0px;
    top: 720px;
}
.hangmoive h1{
    padding: 30px;
    font-size: 32px;
    text-decoration: underline solid black 2px;
}
.content{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
}
.sp{
    width: 270px;
    border: 1px solid black;
    border-radius: 20px;
}
.sp img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.sp .thongTin{
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(243, 237, 237);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.mau{
    background-color: white;
    border-radius: 5px;
    color: gray;
    margin-top: 10px;
}
.mua{
    border-radius: 5px;
    color: white;
    background-color: black;
    margin-bottom: 10px;
    padding: 6px;
    width: 100%;
}
.sp h2{
    font-size: 20px;
    padding: 6px;
}
.sp h3{
    font-size: 16px;
    color: red;
    padding: 6px;

}
.sp p{
    font-size: 12px;
    padding: 6px;

}
.sp h4{
    font-size: 12px;
        padding: 6px;
}
.zalo{
    position: fixed;
}
