body {
    font-size: 100%;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: 14px;
}

th {
    background-color: green;
    color: white;
    
}

td img {
    max-width: 100px;
    max-height: 100px;
}

div.message {
    color: green;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 250px;
}
a:hover {
    text-decoration: underline;
}
