<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HMD store</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>ADMIN</h1>
            <nav>
                <a href="#">Trang chủ</a>
                <a href="#">Danh mục</a>
                <a href="#">Sản phẩm</a>
                <a href="#">Khác hàng</a>
                <a href="#">Bình luận</a>
                <a href="#">Thống kê</a>
            </nav>
        </header>
        <div class="body">
            chưa có gì
        </div>
    </div>
</body>
</html>