*{
    padding: 0;
    margin: 0; 
    border: 0;
    font-size: 100%;
}
body{
    display: flex;
    justify-content: center;
}
.container{
    width: 100%;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: black;
    align-items: center;
}
header img{
    padding: 20px;
}
.menu{
    padding-right: 20px;
}
.menu a{
    padding: 13px;
    color: white;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: black;
}
.menu a:hover{
    text-decoration: underline;
}
.thanhDieuHuong{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    text-align: center;
    width: 90%;
    margin-left: 5%;
}
.form{
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 30px;
    padding: 2px;
    height: 30px;
}
.form input{
    width: 150px;
}
.form a{
    padding: 2px;
}
.timKiem{
    display: flex;
}
.menu2 a{
    padding: 30px;
    font-size: 24px;
    font-weight: 700;
}
.menu2 a:hover{
    opacity: 50%;
    color: gray;
}
.icon{
    font-size: 20px;
}
a.icon{
    display: flex;
    align-items: center;
}
#cart{
    margin-left: 10px;
    font-size: 26px;
    margin-bottom: 2px;
    font-size: 30px;
}
.banner{
    width: 90%;
    margin-left: 5%;
}
.banner img{
    width: 100%;
    height: 520px;
}
i.bx.bx-chevron-right::before{
    color:white;
    font-size: 50px;
}
.next{
    right: 0%;
    top: 40%;
}
i.bx.bx-chevron-left::before{
    color: white;
    font-size: 50px;
}
.back{
    left: 0%;
    top: 40%;
}
.tieuDe{
    background-image: linear-gradient(to bottom, rgb(175, 175, 175) 1%, rgb(222, 222, 222), rgb(255, 255, 255));
    width: 90%;
    margin-left: 5%;
    margin-top: 0px;
}
.tieuDe h2{
    padding: 30px;
    font-size: 32px;
    text-decoration: underline solid black 2px;
}
.content{
    margin-left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    overflow: auto;
}
.sp{
    width: 270px;
    border: 1px solid black;
    border-radius: 20px;
    margin-right: 17px;
}
.sp img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.sp .thongTin{
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(243, 237, 237);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.seemore{
    border: 1px solid black;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-bottom: 10px;
}
.seemore a{
    color: white;
    /* padding: 10px 45px; */
    padding: 10px 90px 10px 0px;
    
}
.sp h2{
    font-size: 20px;
    padding: 6px 0px;
    padding-left: 6px;
}
.sp h3{
    font-size: 16px;
    color: red;
    padding: 6px 0px;
    padding-left: 6px;
}
.sp p{
    font-size: 12px;
    padding: 6px 0px;
    word-wrap: break-word;
    padding-left: 6px;
}
.sp h4{
    font-size: 13px;
    padding: 6px 0px;
}
.coming_soon{
    width: 90%;
    margin-left: 5%;
}
.coming_soon img{
    width: 100%;
}
.banner_video{
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner_video video{
    width: 100%;
}
.hinh{
    width: 35%;
}
.hinh img{
    width: 100%;
}
.video{
    width: 63%;
}
.video video{
    width: 100%;
}
.content2{
    margin-left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content2 .sp{
    margin-bottom: 20px;
    margin-right: 10px;
}
.menu3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 30px;
}
.menu3_con{
    width: 32%;
}
.menu3_con img{
    width: 100%;
    height: 100%;
}
.menu3_chau{
    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 25px;
    width: 120px;
    height: 40px;
    font-size: 14px;
    font-weight: bolder;
    top: 77%;
    left: 10%;
}
.footer1{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, rgb(150, 150, 150), rgb(110, 110, 110), rgb(80, 80, 80), rgb(60, 60, 60), rgb(30, 30, 30), black);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%
}
.a{
    margin-bottom: 25px;
}
.a a {
    color: white;
    font-size: 13px;
}.aa{
    margin-bottom: 20px;
}
.aa a{
    color: rgb(207, 207, 207);
    font-size: 12px;
}
.mxh{
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 40px;
}
#aaa{
    color: white;
    font-size: 40px;
}


